/* -------------------------- *\
 *			BAZE
\* -------------------------- */
/* -------------------------- *\
 *		Simple CSS resetter
\* -------------------------- */
body, header, footer,
h1, h2, h3, h4, h5, h6,
ul, ol, dl, li, dt, dd,
div, img, p, blockquote, pre,
strong, em, a, small, mark, code,
form, input, textarea, button, select, option,
table, th, tr, td {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  color: inherit;
  background-color: transparent;
  outline: inherit;
  border: none; }

ul, ol {
  list-style-type: none;
  list-style-position: inside; }

/* -------------------------- *\
 *			Base
\* -------------------------- */
body {
  max-width: 100%;
  margin: 10px auto;
  padding: 0 10px;
  line-height: 22.4px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #8a8a8a;
  background-color: #f3f3f3; }
  body * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 22.4px; }

p {
  margin-bottom: 22.4px; }

div {
  margin-bottom: 0; }

img {
  max-width: 100%; }

strong, em {
  font-weight: normal;
  color: #3e3e3e; }

em {
  font-style: normal; }

a {
  text-decoration: none;
  color: #644b13; }
  a:hover {
    color: #d9a637;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }

mark {
  color: inherit;
  background-color: white; }

small {
  color: #575757;
  color: #a4a4a4;
  font-size: 0.8em; }

h1 {
  font-family: "Bitter", serif;
  font-size: 1.5em;
  color: #3e3e3e; }

h2 {
  font-family: "Bitter", serif;
  font-size: 1.375em;
  color: #4a4a4a; }

h3 {
  font-family: "Bitter", serif;
  font-size: 1.25em;
  color: #575757; }

h4 {
  font-family: "Bitter", serif;
  font-size: 1.125em;
  color: #646464; }

h5 {
  font-family: "Bitter", serif;
  font-size: 1em;
  color: #717171; }

h6 {
  font-family: "Bitter", serif;
  font-size: 0.875em;
  color: #7d7d7d; }

ul ul, ol ul {
  list-style-type: circle; }
ul ol, ol ol {
  list-style-type: lower-latin; }

ul ul, ul ol, ol ul, ol ol {
  margin: 0 0 0 20px; }

ul {
  list-style-type: square; }

ol {
  list-style-type: decimal; }

p + ul, p + ol, p + dl {
  margin-top: -22.4px; }

li, dt, dd {
  margin-bottom: 0; }

q, blockquote {
  font-size: 0.9em;
  font-family: "Bitter", serif;
  color: #717171; }

q:before {
  content: open-quote; }
q:after {
  content: close-quote; }

blockquote {
  padding: 22.4px 0 22.4px 20px;
  border-left: 10px solid #d9a637;
  background-color: #f6f6f6;
  -moz-box-shadow: #d7d7d7 1px 0 1px inset;
  -webkit-box-shadow: #d7d7d7 1px 0 1px inset;
  box-shadow: #d7d7d7 1px 0 1px inset; }
  blockquote > p {
    margin-bottom: 0; }

/* -------------------------- *\
 *			Code
\* -------------------------- */
code, pre > code {
  font-family: "Freemono", "monospace", serif;
  font-size: 1em; }

code {
  margin: 0 0px;
  padding: 0 3px;
  color: #717171;
  background-color: #fdfdfd;
  -moz-box-shadow: #f0f0f0 0px -1px 1px inset;
  -webkit-box-shadow: #f0f0f0 0px -1px 1px inset;
  box-shadow: #f0f0f0 0px -1px 1px inset; }

pre {
  position: relative;
  overflow: auto;
  border-left: 10px solid #d9a637;
  z-index: 50;
  background-color: #3e3e3e; }
  pre > span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    z-index: 99;
    cursor: default;
    font-family: "Bitter", serif;
    font-size: 0.9em;
    opacity: 0.5; }
  pre > code {
    padding: 22.4px 10px;
    display: block;
    overflow: auto;
    z-index: 1;
    color: #717171;
    background-color: #fdfdfd; }
  pre strong {
    color: #d9a637; }

@media only screen and (min-width: 640px) {
  pre > span {
    opacity: 1;
    color: #313131;
    background-color: #d9a637;
    -moz-box-shadow: #ba8a23 -1px 1px 1px inset;
    -webkit-box-shadow: #ba8a23 -1px 1px 1px inset;
    box-shadow: #ba8a23 -1px 1px 1px inset;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s; } }
form input, form select, form textarea {
  padding: 11.2px 10px;
  max-width: 100%;
  font-family: "Bitter", serif;
  font-size: 0.9em;
  color: #242424;
  background-color: #7d7d7d;
  border: 1px solid silver;
  -moz-box-shadow: #646464 -1px -1px 1px inset;
  -webkit-box-shadow: #646464 -1px -1px 1px inset;
  box-shadow: #646464 -1px -1px 1px inset;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

form input:hover, form select:hover, form textarea:hover {
  background-color: #646464;
  border: 1px solid #a6a6a6;
  -moz-box-shadow: rgba(217, 166, 55, 0.4) 0px 0px 1px 1px;
  -webkit-box-shadow: rgba(217, 166, 55, 0.4) 0px 0px 1px 1px;
  box-shadow: rgba(217, 166, 55, 0.4) 0px 0px 1px 1px; }

form {
  padding: 22.4px 10px; }
  form input:active, form input:focus, form select:active, form select:focus, form textarea:active, form textarea:focus {
    -moz-box-shadow: #d9a637 0px 0px 1px 1px;
    -webkit-box-shadow: #d9a637 0px 0px 1px 1px;
    box-shadow: #d9a637 0px 0px 1px 1px; }
  form input:hover {
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  form select {
    padding: 0; }
    form select option {
      line-height: 22.4px;
      padding: 11.2px 10px;
      margin-bottom: 0; }
    form select option:last-of-type {
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    form select:hover {
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s; }
  form textarea {
    width: 100%;
    max-width: 100%; }

/* -------------------------- *\
 *			Tables
\* -------------------------- */
table th, table tr, table td {
  padding: 11.2px 10px; }

table {
  width: 100%;
  border: 1px solid gainsboro;
  border-collapse: collapse;
  background-color: #ebebeb;
  -moz-box-shadow: #d9d9d9 0px 1px;
  -webkit-box-shadow: #d9d9d9 0px 1px;
  box-shadow: #d9d9d9 0px 1px; }
  table caption {
    margin-bottom: 11.2px;
    color: #3e3e3e; }
  table th, table tr, table td {
    border: 1px solid #d4d4d4; }
  table th {
    text-align: center;
    background-color: #d4d4d4;
    border: 1px solid #c5c5c5; }

/* -------------------------- *\
 *			Layout
\* -------------------------- */
.full {
  width: 100%; }

.clear {
  clear: both; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left;
  margin-right: 10px; }

.right {
  float: right; }

.content-center {
  text-align: center; }

/* -------------------------- *\
 *			Grid
 \* -------------------------- */
.col-s-1, .col-l-1, .col-m-1, .col-s-2, .col-l-2, .col-m-2, .col-s-3, .col-l-3, .col-m-3, .col-s-4, .col-l-4, .col-m-4, .col-s-5, .col-l-5, .col-m-5, .col-s-6, .col-l-6, .col-m-6, .col-s-7, .col-l-7, .col-m-7, .col-s-8, .col-l-8, .col-m-8, .col-s-9, .col-l-9, .col-m-9, .col-s-10, .col-l-10, .col-m-10, .col-s-11, .col-l-11, .col-m-11, .col-s-12, .col-l-12, .col-m-12, .ft-col-s-1, .ft-col-l-1, .ft-col-m-1, .ft-col-s-2, .ft-col-l-2, .ft-col-m-2, .ft-col-s-3, .ft-col-l-3, .ft-col-m-3, .ft-col-s-4, .ft-col-l-4, .ft-col-m-4, .ft-col-s-5, .ft-col-l-5, .ft-col-m-5, .ft-col-s-6, .ft-col-l-6, .ft-col-m-6, .ft-col-s-7, .ft-col-l-7, .ft-col-m-7, .ft-col-s-8, .ft-col-l-8, .ft-col-m-8, .ft-col-s-9, .ft-col-l-9, .ft-col-m-9, .ft-col-s-10, .ft-col-l-10, .ft-col-m-10, .ft-col-s-11, .ft-col-l-11, .ft-col-m-11, .ft-col-s-12, .ft-col-l-12, .ft-col-m-12, .lt-col-s-1, .lt-col-l-1, .lt-col-m-1, .lt-col-s-2, .lt-col-l-2, .lt-col-m-2, .lt-col-s-3, .lt-col-l-3, .lt-col-m-3, .lt-col-s-4, .lt-col-l-4, .lt-col-m-4, .lt-col-s-5, .lt-col-l-5, .lt-col-m-5, .lt-col-s-6, .lt-col-l-6, .lt-col-m-6, .lt-col-s-7, .lt-col-l-7, .lt-col-m-7, .lt-col-s-8, .lt-col-l-8, .lt-col-m-8, .lt-col-s-9, .lt-col-l-9, .lt-col-m-9, .lt-col-s-10, .lt-col-l-10, .lt-col-m-10, .lt-col-s-11, .lt-col-l-11, .lt-col-m-11, .lt-col-s-12, .lt-col-l-12, .lt-col-m-12, .fl-col-s-1, .fl-col-l-1, .fl-col-m-1, .fl-col-s-2, .fl-col-l-2, .fl-col-m-2, .fl-col-s-3, .fl-col-l-3, .fl-col-m-3, .fl-col-s-4, .fl-col-l-4, .fl-col-m-4, .fl-col-s-5, .fl-col-l-5, .fl-col-m-5, .fl-col-s-6, .fl-col-l-6, .fl-col-m-6, .fl-col-s-7, .fl-col-l-7, .fl-col-m-7, .fl-col-s-8, .fl-col-l-8, .fl-col-m-8, .fl-col-s-9, .fl-col-l-9, .fl-col-m-9, .fl-col-s-10, .fl-col-l-10, .fl-col-m-10, .fl-col-s-11, .fl-col-l-11, .fl-col-m-11, .fl-col-s-12, .fl-col-l-12, .fl-col-m-12 {
  min-height: 1px;
  float: left;
  position: relative; }

.row {
  padding: 0 -10px;
  clear: both;
  overflow: hidden;
  *zoom: 1; }

.col-s-1 {
  width: 8.33333%;
  padding: 0 10px; }

.ft-col-s-1 {
  width: 8.33333%;
  padding: 0 10px 0 0; }

.lt-col-s-1 {
  width: 8.33333%;
  padding: 0 0 0 10px; }

.fl-col-s-1 {
  width: 8.33333%;
  padding: 0; }

.col-s-2 {
  width: 16.66667%;
  padding: 0 10px; }

.ft-col-s-2 {
  width: 16.66667%;
  padding: 0 10px 0 0; }

.lt-col-s-2 {
  width: 16.66667%;
  padding: 0 0 0 10px; }

.fl-col-s-2 {
  width: 16.66667%;
  padding: 0; }

.col-s-3 {
  width: 25%;
  padding: 0 10px; }

.ft-col-s-3 {
  width: 25%;
  padding: 0 10px 0 0; }

.lt-col-s-3 {
  width: 25%;
  padding: 0 0 0 10px; }

.fl-col-s-3 {
  width: 25%;
  padding: 0; }

.col-s-4 {
  width: 33.33333%;
  padding: 0 10px; }

.ft-col-s-4 {
  width: 33.33333%;
  padding: 0 10px 0 0; }

.lt-col-s-4 {
  width: 33.33333%;
  padding: 0 0 0 10px; }

.fl-col-s-4 {
  width: 33.33333%;
  padding: 0; }

.col-s-5 {
  width: 41.66667%;
  padding: 0 10px; }

.ft-col-s-5 {
  width: 41.66667%;
  padding: 0 10px 0 0; }

.lt-col-s-5 {
  width: 41.66667%;
  padding: 0 0 0 10px; }

.fl-col-s-5 {
  width: 41.66667%;
  padding: 0; }

.col-s-6 {
  width: 50%;
  padding: 0 10px; }

.ft-col-s-6 {
  width: 50%;
  padding: 0 10px 0 0; }

.lt-col-s-6 {
  width: 50%;
  padding: 0 0 0 10px; }

.fl-col-s-6 {
  width: 50%;
  padding: 0; }

.col-s-7 {
  width: 58.33333%;
  padding: 0 10px; }

.ft-col-s-7 {
  width: 58.33333%;
  padding: 0 10px 0 0; }

.lt-col-s-7 {
  width: 58.33333%;
  padding: 0 0 0 10px; }

.fl-col-s-7 {
  width: 58.33333%;
  padding: 0; }

.col-s-8 {
  width: 66.66667%;
  padding: 0 10px; }

.ft-col-s-8 {
  width: 66.66667%;
  padding: 0 10px 0 0; }

.lt-col-s-8 {
  width: 66.66667%;
  padding: 0 0 0 10px; }

.fl-col-s-8 {
  width: 66.66667%;
  padding: 0; }

.col-s-9 {
  width: 75%;
  padding: 0 10px; }

.ft-col-s-9 {
  width: 75%;
  padding: 0 10px 0 0; }

.lt-col-s-9 {
  width: 75%;
  padding: 0 0 0 10px; }

.fl-col-s-9 {
  width: 75%;
  padding: 0; }

.col-s-10 {
  width: 83.33333%;
  padding: 0 10px; }

.ft-col-s-10 {
  width: 83.33333%;
  padding: 0 10px 0 0; }

.lt-col-s-10 {
  width: 83.33333%;
  padding: 0 0 0 10px; }

.fl-col-s-10 {
  width: 83.33333%;
  padding: 0; }

.col-s-11 {
  width: 91.66667%;
  padding: 0 10px; }

.ft-col-s-11 {
  width: 91.66667%;
  padding: 0 10px 0 0; }

.lt-col-s-11 {
  width: 91.66667%;
  padding: 0 0 0 10px; }

.fl-col-s-11 {
  width: 91.66667%;
  padding: 0; }

.col-s-12 {
  width: 100%;
  padding: 0 10px; }

.ft-col-s-12 {
  width: 100%;
  padding: 0 10px 0 0; }

.lt-col-s-12 {
  width: 100%;
  padding: 0 0 0 10px; }

.fl-col-s-12 {
  width: 100%;
  padding: 0; }

.col-s-center {
  margin-right: auto;
  margin-left: auto;
  float: none; }

@media only screen and (min-width: 640px) {
  .col-m-1 {
    width: 8.33333%;
    padding: 0 10px; }

  .ft-col-m-1 {
    width: 8.33333%;
    padding: 0 10px 0 0; }

  .lt-col-m-1 {
    width: 8.33333%;
    padding: 0 0 0 10px; }

  .fl-col-m-1 {
    width: 8.33333%;
    padding: 0; }

  .col-m-2 {
    width: 16.66667%;
    padding: 0 10px; }

  .ft-col-m-2 {
    width: 16.66667%;
    padding: 0 10px 0 0; }

  .lt-col-m-2 {
    width: 16.66667%;
    padding: 0 0 0 10px; }

  .fl-col-m-2 {
    width: 16.66667%;
    padding: 0; }

  .col-m-3 {
    width: 25%;
    padding: 0 10px; }

  .ft-col-m-3 {
    width: 25%;
    padding: 0 10px 0 0; }

  .lt-col-m-3 {
    width: 25%;
    padding: 0 0 0 10px; }

  .fl-col-m-3 {
    width: 25%;
    padding: 0; }

  .col-m-4 {
    width: 33.33333%;
    padding: 0 10px; }

  .ft-col-m-4 {
    width: 33.33333%;
    padding: 0 10px 0 0; }

  .lt-col-m-4 {
    width: 33.33333%;
    padding: 0 0 0 10px; }

  .fl-col-m-4 {
    width: 33.33333%;
    padding: 0; }

  .col-m-5 {
    width: 41.66667%;
    padding: 0 10px; }

  .ft-col-m-5 {
    width: 41.66667%;
    padding: 0 10px 0 0; }

  .lt-col-m-5 {
    width: 41.66667%;
    padding: 0 0 0 10px; }

  .fl-col-m-5 {
    width: 41.66667%;
    padding: 0; }

  .col-m-6 {
    width: 50%;
    padding: 0 10px; }

  .ft-col-m-6 {
    width: 50%;
    padding: 0 10px 0 0; }

  .lt-col-m-6 {
    width: 50%;
    padding: 0 0 0 10px; }

  .fl-col-m-6 {
    width: 50%;
    padding: 0; }

  .col-m-7 {
    width: 58.33333%;
    padding: 0 10px; }

  .ft-col-m-7 {
    width: 58.33333%;
    padding: 0 10px 0 0; }

  .lt-col-m-7 {
    width: 58.33333%;
    padding: 0 0 0 10px; }

  .fl-col-m-7 {
    width: 58.33333%;
    padding: 0; }

  .col-m-8 {
    width: 66.66667%;
    padding: 0 10px; }

  .ft-col-m-8 {
    width: 66.66667%;
    padding: 0 10px 0 0; }

  .lt-col-m-8 {
    width: 66.66667%;
    padding: 0 0 0 10px; }

  .fl-col-m-8 {
    width: 66.66667%;
    padding: 0; }

  .col-m-9 {
    width: 75%;
    padding: 0 10px; }

  .ft-col-m-9 {
    width: 75%;
    padding: 0 10px 0 0; }

  .lt-col-m-9 {
    width: 75%;
    padding: 0 0 0 10px; }

  .fl-col-m-9 {
    width: 75%;
    padding: 0; }

  .col-m-10 {
    width: 83.33333%;
    padding: 0 10px; }

  .ft-col-m-10 {
    width: 83.33333%;
    padding: 0 10px 0 0; }

  .lt-col-m-10 {
    width: 83.33333%;
    padding: 0 0 0 10px; }

  .fl-col-m-10 {
    width: 83.33333%;
    padding: 0; }

  .col-m-11 {
    width: 91.66667%;
    padding: 0 10px; }

  .ft-col-m-11 {
    width: 91.66667%;
    padding: 0 10px 0 0; }

  .lt-col-m-11 {
    width: 91.66667%;
    padding: 0 0 0 10px; }

  .fl-col-m-11 {
    width: 91.66667%;
    padding: 0; }

  .col-m-12 {
    width: 100%;
    padding: 0 10px; }

  .ft-col-m-12 {
    width: 100%;
    padding: 0 10px 0 0; }

  .lt-col-m-12 {
    width: 100%;
    padding: 0 0 0 10px; }

  .fl-col-m-12 {
    width: 100%;
    padding: 0; }

  .col-m-center {
    margin-right: auto;
    margin-left: auto;
    float: none; } }
@media only screen and (min-width: 1040px) {
  .col-l-1 {
    width: 8.33333%;
    padding: 0 10px; }

  .ft-col-l-1 {
    width: 8.33333%;
    padding: 0 10px 0 0; }

  .lt-col-l-1 {
    width: 8.33333%;
    padding: 0 0 0 10px; }

  .fl-col-l-1 {
    width: 8.33333%;
    padding: 0; }

  .col-l-2 {
    width: 16.66667%;
    padding: 0 10px; }

  .ft-col-l-2 {
    width: 16.66667%;
    padding: 0 10px 0 0; }

  .lt-col-l-2 {
    width: 16.66667%;
    padding: 0 0 0 10px; }

  .fl-col-l-2 {
    width: 16.66667%;
    padding: 0; }

  .col-l-3 {
    width: 25%;
    padding: 0 10px; }

  .ft-col-l-3 {
    width: 25%;
    padding: 0 10px 0 0; }

  .lt-col-l-3 {
    width: 25%;
    padding: 0 0 0 10px; }

  .fl-col-l-3 {
    width: 25%;
    padding: 0; }

  .col-l-4 {
    width: 33.33333%;
    padding: 0 10px; }

  .ft-col-l-4 {
    width: 33.33333%;
    padding: 0 10px 0 0; }

  .lt-col-l-4 {
    width: 33.33333%;
    padding: 0 0 0 10px; }

  .fl-col-l-4 {
    width: 33.33333%;
    padding: 0; }

  .col-l-5 {
    width: 41.66667%;
    padding: 0 10px; }

  .ft-col-l-5 {
    width: 41.66667%;
    padding: 0 10px 0 0; }

  .lt-col-l-5 {
    width: 41.66667%;
    padding: 0 0 0 10px; }

  .fl-col-l-5 {
    width: 41.66667%;
    padding: 0; }

  .col-l-6 {
    width: 50%;
    padding: 0 10px; }

  .ft-col-l-6 {
    width: 50%;
    padding: 0 10px 0 0; }

  .lt-col-l-6 {
    width: 50%;
    padding: 0 0 0 10px; }

  .fl-col-l-6 {
    width: 50%;
    padding: 0; }

  .col-l-7 {
    width: 58.33333%;
    padding: 0 10px; }

  .ft-col-l-7 {
    width: 58.33333%;
    padding: 0 10px 0 0; }

  .lt-col-l-7 {
    width: 58.33333%;
    padding: 0 0 0 10px; }

  .fl-col-l-7 {
    width: 58.33333%;
    padding: 0; }

  .col-l-8 {
    width: 66.66667%;
    padding: 0 10px; }

  .ft-col-l-8 {
    width: 66.66667%;
    padding: 0 10px 0 0; }

  .lt-col-l-8 {
    width: 66.66667%;
    padding: 0 0 0 10px; }

  .fl-col-l-8 {
    width: 66.66667%;
    padding: 0; }

  .col-l-9 {
    width: 75%;
    padding: 0 10px; }

  .ft-col-l-9 {
    width: 75%;
    padding: 0 10px 0 0; }

  .lt-col-l-9 {
    width: 75%;
    padding: 0 0 0 10px; }

  .fl-col-l-9 {
    width: 75%;
    padding: 0; }

  .col-l-10 {
    width: 83.33333%;
    padding: 0 10px; }

  .ft-col-l-10 {
    width: 83.33333%;
    padding: 0 10px 0 0; }

  .lt-col-l-10 {
    width: 83.33333%;
    padding: 0 0 0 10px; }

  .fl-col-l-10 {
    width: 83.33333%;
    padding: 0; }

  .col-l-11 {
    width: 91.66667%;
    padding: 0 10px; }

  .ft-col-l-11 {
    width: 91.66667%;
    padding: 0 10px 0 0; }

  .lt-col-l-11 {
    width: 91.66667%;
    padding: 0 0 0 10px; }

  .fl-col-l-11 {
    width: 91.66667%;
    padding: 0; }

  .col-l-12 {
    width: 100%;
    padding: 0 10px; }

  .ft-col-l-12 {
    width: 100%;
    padding: 0 10px 0 0; }

  .lt-col-l-12 {
    width: 100%;
    padding: 0 0 0 10px; }

  .fl-col-l-12 {
    width: 100%;
    padding: 0; }

  .col-l-center {
    margin-right: auto;
    margin-left: auto;
    float: none; } }
/* -------------------------- *\
 *			Box
\* -------------------------- */
.box-container, .box-info {
  margin-bottom: 22.4px;
  padding: 22.4px 10px 0 10px;
  overflow: auto; }

.box-container {
  border: 1px ridge #e6e6e6;
  background-color: #f3f3f3;
  -moz-box-shadow: #e1e1e1 -1px -1px 0 inset;
  -webkit-box-shadow: #e1e1e1 -1px -1px 0 inset;
  box-shadow: #e1e1e1 -1px -1px 0 inset; }
  .box-container .box-title {
    padding: 5.6px 0 5.6px 10px;
    border-left: 10px solid #d9a637;
    border-bottom: 1px solid #d9a637; }
    .box-container .box-title > small {
      padding-left: 10px;
      text-align: right; }

.box-info {
  border: 1px ridge #e6e6e6;
  background-color: #e6e6e6;
  -moz-box-shadow: #e1e1e1 -1px -1px 0 inset;
  -webkit-box-shadow: #e1e1e1 -1px -1px 0 inset;
  box-shadow: #e1e1e1 -1px -1px 0 inset; }
  .box-info .box-title {
    padding: 5.6px 0 5.6px 10px;
    border-left: 10px solid #497fd2;
    border-bottom: 1px solid #497fd2; }
    .box-info .box-title > small {
      padding-left: 10px;
      text-align: right; }

/* -------------------------- *\
 *			Module
\* -------------------------- */
/* -------------------------- *\
 *			Button
\* -------------------------- */
.btn-default, .fl-btn-default, .btn-error, .fl-btn-error, .btn-warning, .fl-btn-warning, .btn-dark, .fl-btn-dark {
  min-height: 44.8px;
  padding: 0 20px 0 10px;
  font-family: "Bitter", serif;
  font-size: 0.9em; }
  @media only screen and (max-width: 640px) {
    .btn-default, .fl-btn-default, .btn-error, .fl-btn-error, .btn-warning, .fl-btn-warning, .btn-dark, .fl-btn-dark {
      width: 100%; } }

.btn-default, .fl-btn-default {
  opacity: 0.9;
  color: #faf2e2;
  background-color: #d9a637;
  border-left: 10px solid #d7a02a;
  -moz-box-shadow: #d7a02a 0px -3px 0 inset;
  -webkit-box-shadow: #d7a02a 0px -3px 0 inset;
  box-shadow: #d7a02a 0px -3px 0 inset; }

.btn-default:hover {
  opacity: 1;
  color: #faf2e2;
  background-color: #c79426;
  border-left: 10px solid #ba8a23;
  -moz-box-shadow: #cf9a27 0px -1px 0 inset;
  -webkit-box-shadow: #cf9a27 0px -1px 0 inset;
  box-shadow: #cf9a27 0px -1px 0 inset;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.btn-default:active {
  opacity: 1;
  color: #faf2e2;
  background-color: #715415;
  border-left: 10px solid #644b13;
  -moz-box-shadow: #644b13 0px -3px 0 inset, #795a17 0px 1px 1px;
  -webkit-box-shadow: #644b13 0px -3px 0 inset, #795a17 0px 1px 1px;
  box-shadow: #644b13 0px -3px 0 inset, #795a17 0px 1px 1px; }

.btn-error, .fl-btn-error {
  opacity: 0.9;
  color: #fdf1ef;
  background-color: #e14e3f;
  border-left: 10px solid #df4232;
  -moz-box-shadow: #df4232 0px -3px 0 inset;
  -webkit-box-shadow: #df4232 0px -3px 0 inset;
  box-shadow: #df4232 0px -3px 0 inset; }

.btn-error:hover {
  opacity: 1;
  color: #fdf1ef;
  background-color: #da3322;
  border-left: 10px solid #cd3020;
  -moz-box-shadow: #de3a29 0px -1px 0 inset;
  -webkit-box-shadow: #de3a29 0px -1px 0 inset;
  box-shadow: #de3a29 0px -1px 0 inset;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.btn-error:active {
  opacity: 1;
  color: #fdf1ef;
  background-color: #821e14;
  border-left: 10px solid #751b12;
  -moz-box-shadow: #751b12 0px -3px 0 inset, #8b2116 0px 1px 1px;
  -webkit-box-shadow: #751b12 0px -3px 0 inset, #8b2116 0px 1px 1px;
  box-shadow: #751b12 0px -3px 0 inset, #8b2116 0px 1px 1px; }

.btn-warning, .fl-btn-warning {
  opacity: 0.9;
  color: #fcf2ca;
  background-color: #ebbf0f;
  border-left: 10px solid #ddb30e;
  -moz-box-shadow: #ddb30e 0px -3px 0 inset;
  -webkit-box-shadow: #ddb30e 0px -3px 0 inset;
  box-shadow: #ddb30e 0px -3px 0 inset; }

.btn-warning:hover {
  opacity: 1;
  color: #fcf2ca;
  background-color: #c9a40d;
  border-left: 10px solid #bb980c;
  -moz-box-shadow: #d3ac0d 0px -1px 0 inset;
  -webkit-box-shadow: #d3ac0d 0px -1px 0 inset;
  box-shadow: #d3ac0d 0px -1px 0 inset;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.btn-warning:active {
  opacity: 1;
  color: #fcf2ca;
  background-color: #6a5607;
  border-left: 10px solid #5b4a06;
  -moz-box-shadow: #5b4a06 0px -3px 0 inset, #735e07 0px 1px 1px;
  -webkit-box-shadow: #5b4a06 0px -3px 0 inset, #735e07 0px 1px 1px;
  box-shadow: #5b4a06 0px -3px 0 inset, #735e07 0px 1px 1px; }

.btn-dark, .fl-btn-dark {
  opacity: 0.9;
  color: #91a7bb;
  background-color: #31414f;
  border-left: 10px solid #2b3946;
  -moz-box-shadow: #2b3946 0px -3px 0 inset;
  -webkit-box-shadow: #2b3946 0px -3px 0 inset;
  box-shadow: #2b3946 0px -3px 0 inset; }

.btn-dark:hover {
  opacity: 1;
  color: #91a7bb;
  background-color: #232f39;
  border-left: 10px solid #1d2730;
  -moz-box-shadow: #27343f 0px -1px 0 inset;
  -webkit-box-shadow: #27343f 0px -1px 0 inset;
  box-shadow: #27343f 0px -1px 0 inset;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.btn-dark:active {
  opacity: 1;
  color: #91a7bb;
  background-color: black;
  border-left: 10px solid black;
  -moz-box-shadow: black 0px -3px 0 inset, black 0px 1px 1px;
  -webkit-box-shadow: black 0px -3px 0 inset, black 0px 1px 1px;
  box-shadow: black 0px -3px 0 inset, black 0px 1px 1px; }

/* -------------------------- *\
 *			Bubble
\* -------------------------- */
ul.bubble-lift li > p:first-of-type > span, ul.bubble-slider li > dl dt > span, ul.bubble-slider2 li > dl dt > span {
  display: none; }
  @media only screen and (min-width: 640px) {
    ul.bubble-lift li > p:first-of-type > span, ul.bubble-slider li > dl dt > span, ul.bubble-slider2 li > dl dt > span {
      width: 50%;
      height: 100%;
      display: inline-block;
      float: right;
      margin-bottom: 0;
      padding-right: 10px;
      opacity: 0.5;
      font-family: inherit;
      font-size: 0.8em;
      text-align: right; } }

ul.bubble-lift {
  width: 100%;
  list-style-type: none; }
  @media only screen and (min-width: 640px) {
    ul.bubble-lift {
      overflow: auto; } }

ul.bubble-lift li {
  margin-bottom: 22.4px; }
  @media only screen and (min-width: 640px) {
    ul.bubble-lift li {
      margin-bottom: 0;
      overflow: hidden; } }

ul.bubble-lift li > div {
  padding: 22.4px 10px; }
  @media only screen and (min-width: 640px) {
    ul.bubble-lift li > div {
      display: none; } }

@media only screen and (max-width: 640px) {
  ul.bubble-lift li > div > img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto; } }

ul.bubble-slider, ul.bubble-slider2 {
  width: 100%;
  list-style-type: none; }
  @media only screen and (min-width: 640px) {
    ul.bubble-slider, ul.bubble-slider2 {
      overflow: auto; } }

ul.bubble-slider li *, ul.bubble-slider2 li * {
  margin-bottom: 0; }
@media only screen and (min-width: 640px) {
  ul.bubble-slider li, ul.bubble-slider2 li {
    overflow: hidden; } }

ul.bubble-img-m, ul.bubble-img-m2, ul.bubble-img-s, ul.bubble-img-s2, ul.bubble-img-l, ul.bubble-img-l2 {
  display: inline-block;
  overflow: auto;
  list-style-type: none; }

ul.bubble-img-m li, ul.bubble-img-m2 li, ul.bubble-img-s li, ul.bubble-img-s2 li, ul.bubble-img-l li, ul.bubble-img-l2 li {
  overflow: hidden;
  float: left; }

ul.bubble-img-m li p, ul.bubble-img-m2 li p, ul.bubble-img-s li p, ul.bubble-img-s2 li p, ul.bubble-img-l li p, ul.bubble-img-l2 li p {
  opacity: 0.7;
  font-family: "Bitter", serif;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold; }

ul.bubble-lift {
  margin-bottom: 22.4px; }
  @media only screen and (min-width: 640px) {
    ul.bubble-lift li {
      border-bottom: 1px solid #363636; } }
  ul.bubble-lift li > p:first-of-type {
    width: 100%;
    clear: both;
    height: 67.2px;
    margin-bottom: 0;
    padding-left: 10px;
    line-height: 67.2px;
    font-family: "Bitter", serif;
    color: #d9a637;
    background-color: #3e3e3e; }
    ul.bubble-lift li > p:first-of-type > span {
      color: #f5e9cd; }
  ul.bubble-lift li > div {
    background-color: #d9a637; }
    ul.bubble-lift li > div * {
      color: #3e3e3e; }
    ul.bubble-lift li > div > p:last-of-type {
      margin-bottom: 0;
      width: 100%;
      height: 100%; }
    @media only screen and (min-width: 640px) {
      ul.bubble-lift li > div {
        margin-top: -67.2px; } }
  @media only screen and (min-width: 640px) {
    ul.bubble-lift li:hover {
      -moz-transition-duration: 2s;
      -o-transition-duration: 2s;
      -webkit-transition-duration: 2s;
      transition-duration: 2s; }
      ul.bubble-lift li:hover > div {
        display: block;
        margin-top: 0; } }

ul.bubble-slider {
  margin-bottom: 22.4px; }
  ul.bubble-slider li {
    margin-bottom: 22.4px;
    line-height: 67.2px; }
    @media only screen and (min-width: 640px) {
      ul.bubble-slider li {
        margin-bottom: 0;
        height: 67.2px;
        border-bottom: 1px solid #363636; } }
    ul.bubble-slider li > dl dt {
      width: 100%;
      padding-left: 10px;
      font-family: "Bitter", serif;
      color: #d9a637;
      background-color: #3e3e3e; }
      ul.bubble-slider li > dl dt > span {
        margin-right: 1%;
        color: #f5e9cd; }
    ul.bubble-slider li > dl dd {
      width: 100%;
      padding-left: 10px;
      padding-top: 22.4px;
      padding-bottom: 22.4px;
      line-height: 22.4px;
      background-color: #d9a637;
      -moz-box-shadow: #313131 -1px 0px 1px;
      -webkit-box-shadow: #313131 -1px 0px 1px;
      box-shadow: #313131 -1px 0px 1px; }
      @media only screen and (min-width: 640px) {
        ul.bubble-slider li > dl dd {
          margin-left: 99%;
          margin-top: -67.2px;
          float: left; } }
    ul.bubble-slider li > dl a {
      color: inherit; }
    ul.bubble-slider li > dl a:hover {
      color: #646464; }
    @media only screen and (min-width: 640px) {
      ul.bubble-slider li:hover * {
        -moz-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s;
        transition-duration: 0.7s; }
      ul.bubble-slider li:hover dl > dt {
        margin-left: -99%; }
      ul.bubble-slider li:hover dl > dd {
        margin-left: 1%;
        color: #3e3e3e; } }

ul.bubble-slider2 {
  margin-bottom: 22.4px; }
  ul.bubble-slider2 li {
    margin-bottom: 22.4px;
    line-height: 67.2px; }
    @media only screen and (min-width: 640px) {
      ul.bubble-slider2 li {
        margin-bottom: 0;
        height: 67.2px;
        border-bottom: 1px solid #d7a02a; } }
    ul.bubble-slider2 li > dl dt {
      width: 100%;
      padding-left: 10px;
      font-family: "Bitter", serif;
      color: #3e3e3e;
      background-color: #d9a637; }
      ul.bubble-slider2 li > dl dt > span {
        margin-right: 1%;
        color: #979797; }
    ul.bubble-slider2 li > dl dd {
      width: 100%;
      padding-left: 10px;
      padding-top: 22.4px;
      padding-bottom: 22.4px;
      line-height: 22.4px;
      background-color: #3e3e3e;
      -moz-box-shadow: #cf9a27 -1px 0px 1px;
      -webkit-box-shadow: #cf9a27 -1px 0px 1px;
      box-shadow: #cf9a27 -1px 0px 1px; }
      @media only screen and (min-width: 640px) {
        ul.bubble-slider2 li > dl dd {
          margin-left: 99%;
          margin-top: -67.2px;
          float: left; } }
    ul.bubble-slider2 li > dl a {
      color: inherit; }
    ul.bubble-slider2 li > dl a:hover {
      color: #e5c377; }
    @media only screen and (min-width: 640px) {
      ul.bubble-slider2 li:hover * {
        -moz-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s;
        transition-duration: 0.7s; }
      ul.bubble-slider2 li:hover dl > dt {
        margin-left: -99%; }
      ul.bubble-slider2 li:hover dl > dd {
        margin-left: 1%;
        color: #d9a637; } }

ul.bubble-img-m {
  width: 200px;
  height: 200px; }
  ul.bubble-img-m li {
    width: 100%;
    height: 100%;
    margin-bottom: 0; }
    ul.bubble-img-m li * {
      margin-bottom: 0; }
    ul.bubble-img-m li p {
      height: 25%;
      line-height: 50px;
      color: #d9a637;
      background-color: #3e3e3e;
      -moz-transition: margin-top 0.3s ease-out;
      -o-transition: margin-top 0.3s ease-out;
      -webkit-transition: margin-top 0.3s ease-out;
      transition: margin-top 0.3s ease-out;
      -moz-box-shadow: #363636 0px -1px 1px;
      -webkit-box-shadow: #363636 0px -1px 1px;
      box-shadow: #363636 0px -1px 1px; }
    ul.bubble-img-m li:hover p {
      margin-top: -25%; }

ul.bubble-img-m2 {
  width: 200px;
  height: 200px; }
  ul.bubble-img-m2 li {
    width: 100%;
    height: 100%;
    margin-bottom: 0; }
    ul.bubble-img-m2 li * {
      margin-bottom: 0; }
    ul.bubble-img-m2 li p {
      height: 25%;
      line-height: 50px;
      color: #3e3e3e;
      background-color: #d9a637;
      -moz-transition: margin-top 0.3s ease-out;
      -o-transition: margin-top 0.3s ease-out;
      -webkit-transition: margin-top 0.3s ease-out;
      transition: margin-top 0.3s ease-out;
      -moz-box-shadow: #d7a02a 0px -1px 1px;
      -webkit-box-shadow: #d7a02a 0px -1px 1px;
      box-shadow: #d7a02a 0px -1px 1px; }
    ul.bubble-img-m2 li:hover p {
      margin-top: -25%; }

ul.bubble-img-s {
  width: 100px;
  height: 100px; }
  ul.bubble-img-s li {
    width: 100%;
    height: 100%;
    margin-bottom: 0; }
    ul.bubble-img-s li * {
      margin-bottom: 0; }
    ul.bubble-img-s li p {
      height: 25%;
      line-height: 25px;
      color: #d9a637;
      background-color: #3e3e3e;
      -moz-transition: margin-top 0.3s ease-out;
      -o-transition: margin-top 0.3s ease-out;
      -webkit-transition: margin-top 0.3s ease-out;
      transition: margin-top 0.3s ease-out;
      -moz-box-shadow: #363636 0px -1px 1px;
      -webkit-box-shadow: #363636 0px -1px 1px;
      box-shadow: #363636 0px -1px 1px; }
    ul.bubble-img-s li:hover p {
      margin-top: -25%; }

ul.bubble-img-s2 {
  width: 100px;
  height: 100px; }
  ul.bubble-img-s2 li {
    width: 100%;
    height: 100%;
    margin-bottom: 0; }
    ul.bubble-img-s2 li * {
      margin-bottom: 0; }
    ul.bubble-img-s2 li p {
      height: 25%;
      line-height: 25px;
      color: #3e3e3e;
      background-color: #d9a637;
      -moz-transition: margin-top 0.3s ease-out;
      -o-transition: margin-top 0.3s ease-out;
      -webkit-transition: margin-top 0.3s ease-out;
      transition: margin-top 0.3s ease-out;
      -moz-box-shadow: #d7a02a 0px -1px 1px;
      -webkit-box-shadow: #d7a02a 0px -1px 1px;
      box-shadow: #d7a02a 0px -1px 1px; }
    ul.bubble-img-s2 li:hover p {
      margin-top: -25%; }

ul.bubble-img-l {
  width: 100%;
  height: 100%; }
  ul.bubble-img-l li {
    width: 100%;
    height: 100%;
    margin-bottom: 0; }
    ul.bubble-img-l li * {
      margin-bottom: 0; }
    ul.bubble-img-l li p {
      height: 25%;
      line-height: 25%;
      color: #d9a637;
      background-color: #3e3e3e;
      -moz-transition: margin-top 0.3s ease-out;
      -o-transition: margin-top 0.3s ease-out;
      -webkit-transition: margin-top 0.3s ease-out;
      transition: margin-top 0.3s ease-out;
      -moz-box-shadow: #363636 0px -1px 1px;
      -webkit-box-shadow: #363636 0px -1px 1px;
      box-shadow: #363636 0px -1px 1px; }
    ul.bubble-img-l li:hover p {
      margin-top: -25%; }

ul.bubble-img-l2 {
  width: 100%;
  height: 100%; }
  ul.bubble-img-l2 li {
    width: 100%;
    height: 100%;
    margin-bottom: 0; }
    ul.bubble-img-l2 li * {
      margin-bottom: 0; }
    ul.bubble-img-l2 li p {
      height: 25%;
      line-height: 25%;
      color: #3e3e3e;
      background-color: #d9a637;
      -moz-transition: margin-top 0.3s ease-out;
      -o-transition: margin-top 0.3s ease-out;
      -webkit-transition: margin-top 0.3s ease-out;
      transition: margin-top 0.3s ease-out;
      -moz-box-shadow: #d7a02a 0px -1px 1px;
      -webkit-box-shadow: #d7a02a 0px -1px 1px;
      box-shadow: #d7a02a 0px -1px 1px; }
    ul.bubble-img-l2 li:hover p {
      margin-top: -25%; }

/* -------------------------- *\
 *			Alert
\* -------------------------- */
.alert-default, .alert-success, .alert-error, .alert-warning, .alert-question {
  padding: 22.4px 10px;
  padding-bottom: 0;
  margin-bottom: 22.4px;
  text-align: left;
  font-size: 0.95em;
  font-family: inherit;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.alert-default > :first-child:before, .alert-success > :first-child:before, .alert-error > :first-child:before, .alert-warning > :first-child:before, .alert-question > :first-child:before {
  margin-right: 10px;
  position: relative;
  top: 3px;
  font-size: 2em;
  font-family: 'FontAwesome'; }

.alert-default > :first-child:before {
  content: "\f129"; }

.alert-success > :first-child:before {
  content: "\f00c"; }

.alert-error > :first-child:before {
  content: "\f00d"; }

.alert-warning > :first-child:before {
  content: "\f12a"; }

.alert-question > :first-child:before {
  content: "\f128"; }

.alert-default {
  color: #faf2e2;
  background-color: #d9a637;
  border: 1px solid #cf9a27;
  -moz-box-shadow: #ba8a23 1px 1px;
  -webkit-box-shadow: #ba8a23 1px 1px;
  box-shadow: #ba8a23 1px 1px; }
  .alert-default strong {
    font-family: inherit;
    font-weight: bold;
    color: white; }

.alert-success {
  color: #e6f2fb;
  background-color: #399adc;
  border: 1px solid #268ed6;
  -moz-box-shadow: #2280c0 1px 1px;
  -webkit-box-shadow: #2280c0 1px 1px;
  box-shadow: #2280c0 1px 1px; }
  .alert-success strong {
    font-family: inherit;
    font-weight: bold;
    color: white; }

.alert-error {
  color: #fdf1ef;
  background-color: #e14e3f;
  border: 1px solid #de3a29;
  -moz-box-shadow: #cd3020 1px 1px;
  -webkit-box-shadow: #cd3020 1px 1px;
  box-shadow: #cd3020 1px 1px; }
  .alert-error strong {
    font-family: inherit;
    font-weight: bold;
    color: white; }

.alert-warning {
  color: #fcf2ca;
  background-color: #ebbf0f;
  border: 1px solid #d3ac0d;
  -moz-box-shadow: #bb980c 1px 1px;
  -webkit-box-shadow: #bb980c 1px 1px;
  box-shadow: #bb980c 1px 1px; }
  .alert-warning strong {
    font-family: inherit;
    font-weight: bold;
    color: #fffefa; }

.alert-question {
  color: #d7f5e4;
  background-color: #33cd74;
  border: 1px solid #2db968;
  -moz-box-shadow: #28a55d 1px 1px;
  -webkit-box-shadow: #28a55d 1px 1px;
  box-shadow: #28a55d 1px 1px; }
  .alert-question strong {
    font-family: inherit;
    font-weight: bold;
    color: white; }

/* -------------------------- *\
 *			Glass
\* -------------------------- */
.glass {
  position: relative;
  display: inline-block;
  max-width: 250px;
  max-height: 250px;
  margin-bottom: 22.4px;
  overflow: hidden;
  z-index: 0;
  border: 1px solid rgba(62, 62, 62, 0.3);
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.glass > .glass-container {
  position: relative;
  height: 250px; }

.glass > .glass-container > .glass-image {
  background-color: #3e3e3e; }

.glass > .glass-container > .glass-image > img {
  margin-bottom: 0;
  opacity: 0.4;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.glass > .glass-container > .glass-content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 22.4px;
  padding: 22.4px 10px; }
  .glass > .glass-container > .glass-content :last-child {
    margin-bottom: 0; }
  .glass > .glass-container > .glass-content * {
    line-height: 22.4px;
    text-align: center; }

.glass > .glass-container > .glass-content > h1 {
  margin-top: 25%;
  margin-left: -10px;
  margin-right: -10px;
  padding: 11.2px 0;
  font-size: 0.9em;
  font-family: "Bitter", serif;
  color: white;
  background-color: rgba(217, 166, 55, 0.8);
  -moz-transition: margin-top 0.7s ease-out;
  -o-transition: margin-top 0.7s ease-out;
  -webkit-transition: margin-top 0.7s ease-out;
  transition: margin-top 0.7s ease-out; }

.glass > .glass-container > .glass-content > p {
  margin: 100% -10px 0 -10px;
  padding: 11.2px 10px;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  background-color: rgba(62, 62, 62, 0.9);
  border-bottom: 2px solid #d9a637;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s; }

.glass > .glass-container > .glass-link {
  position: relative;
  bottom: 44.8px;
  text-align: center;
  font-family: "Bitter", serif;
  font-size: 0.7em;
  -moz-transition: margin-top 0.7s ease-out;
  -o-transition: margin-top 0.7s ease-out;
  -webkit-transition: margin-top 0.7s ease-out;
  transition: margin-top 0.7s ease-out; }
  .glass > .glass-container > .glass-link a {
    color: white;
    opacity: 0.6; }
    .glass > .glass-container > .glass-link a:hover {
      color: white;
      opacity: 1; }

@media only screen and (min-width: 1040px) {
  .glass:hover {
    z-index: 10;
    -moz-transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }

  .glass:hover > .glass-container > .glass-image {
    background-color: none; }

  .glass:hover > .glass-container > .glass-image > img {
    opacity: 0.8; }

  .glass:hover > .glass-container > .glass-content > h1 {
    margin-top: -40%;
    background-color: #d9a637;
    opacity: 1; }

  .glass:hover > .glass-container > .glass-content > p {
    margin-top: 40%;
    color: white; }

  .glass > .glass-container > .glass-link {
    margin-top: 25%; }

  .glass:hover > .glass-container > .glass-link {
    margin-top: 0; } }
