// -------------------------- //
//			Sizes
// -------------------------- //

$width: 960px!default;
$gutter: 20px!default;
$body_gutter: $gutter!default;

// -------------------------- //
//			Fonts
// -------------------------- //

// @import url(http://fonts.googleapis.com/css?family=Lato|Bitter);

$font_family: 'Lato', sans-serif !default;
$font_header: 'Bitter', serif !default;
$font_code: 'Freemono', 'monospace', serif !default;
$font_size: 16px!default;
$line_height: 1.4 * $font_size !default;

// -------------------------- //
//			Colors
// -------------------------- //

$theme: 'light'!default;		// Or dark

$color_primary: #d9a637!default;
$color_text: #8a8a8a!default;
$color_header: darken($color_text, 30) !default;
$color_background: #f3f3f3!default;

// -------------------------- //
//			Layout
// -------------------------- //

$l_medium: 640px!default;
$l_large: 1040px!default;

// Grid
$l_grid_gutter: $gutter;
$l_grid_number_columns: 12!default;

// Box
$l_box_gutter: $gutter!default;
$l_box_line_height: $line_height!default;

$l_box_border_box: $color_background!default;
$l_box_border_title: $color_primary!default;

// -------------------------- //
//			Modules
// -------------------------- //

$m_medium: $l_medium!default;
$m_large: $l_large!default;

// Buttons
$m_btn_line_height: $line_height!default;
$m_btn_gutter: $gutter!default;

$m_btn_font: $font_header!default;

$m_btn_color: $color_primary!default;
$m_btn_color_error: #e14e3f!default;
$m_btn_color_warning: #ebbf0f!default;
$m_btn_color_dark: #31414f!default;

// Bubble
$m_bubble_gutter: $gutter!default;

$m_bubble_color: $color_primary!default;
$m_bubble_color_background: $color_header!default;
$m_bubble_font: $font_header!default;

$m_bubble_width: 200px!default;

$m_bubble_slider_height: 3!default;
$m_bubble_slider_margin: 99%!default;

// Alert
$m_alert_gutter: $gutter!default;
$m_alert_line_height: $line_height!default;

$m_alert_font: $font_family!default;
$m_alert_font_awesome: 'true'!default;

$m_alert_color: $color_primary!default;
$m_alert_success_color: #399adc!default;
$m_alert_error_color: #e14e3f!default;
$m_alert_warning_color: #ebbf0f!default;
$m_alert_question_color: #33cd74!default;

// Glass
$m_glass_gutter: $gutter!default;
$m_glass_line_height: $line_height!default;

$m_glass_font_title: $font_header!default;
$m_glass_font_description: $font_family!default;

$m_glass_color: $color_primary!default;
$m_glass_color_text: lighten($color_primary, 50)!default;
$m_glass_color_background: $color_header!default;

$m_glass_img_width: 250px!default;
