// -------------------------- //
//			General
// -------------------------- //

.full { width: 100%; }
.clear { clear: both; }

// -------------------------- //
//		Block elements
// -------------------------- //

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.left {
	float: left;
	margin-right: $gutter / 2;
}
.right { float: right; }

// -------------------------- //
//		Inline elements
// -------------------------- //

.content-center { text-align: center; }
