/* -------------------------- *\
 *			Button
\* -------------------------- */


// -------------------------- //
//			Variables
// -------------------------- //

$m_medium: $m_medium!default;
$m_large: $m_large!default;

$m_btn_line_height: $line_height!default;
$m_btn_gutter: $gutter!default;

$m_btn_font: $font_header!default;

$m_btn_color: $color_background!default;
$m_btn_color_background: $color_primary!default;

$m_btn_color_error: #d16249!default;
$m_btn_color_warning: #b8d149!default;
$m_btn_color_dark: $color_header!default;

// -------------------------- //
//			Extends
// -------------------------- //

%btn {
	// display: inline-block;
	min-height: $m_btn_line_height * 2;
	padding: 0 $m_btn_gutter 0 ($m_btn_gutter / 2);

	font-family: $m_btn_font;
	font-size: 0.9em;

	// Responsive
	@media only screen and (max-width: $m_medium) {
		width: 100%;
		// font-size: 1.1em;
	}
}

// -------------------------- //
//			Mixins
// -------------------------- //

@mixin set-btn($type: default, $color: $m_btn_color, $color_bg: $m_btn_color_background) {
	.btn-#{$type}, .fl-btn-#{$type} {
		@extend %btn;

		opacity: 0.9;

		color: $color;
		background-color: $color_bg;
		border-left: ($m_btn_gutter / 2) solid darken($color_bg, 3);

		@include box-shadow(darken($color_bg, 3) 0px -3px 0 inset);
	}
	.btn-#{$type}:hover {
		opacity: 1;

		color: lighten($color, 15);
		background-color: darken($color_bg, 7);
		border-left: ($m_btn_gutter / 2) solid darken($color_bg, 10);

		@include box-shadow(darken($color_bg, 10) 0px -3px 0 inset, darken($color, 5) 0px 1px 1px);
		@include transition-duration(0.2s);
	}
	.btn-#{$type}:active {
		opacity: 1;

		color: lighten($color, 35);
		background-color: darken($color_bg, 27);
		border-left: ($m_btn_gutter / 2) solid darken($color_bg, 30);

		@include box-shadow(darken($color_bg, 30) 0px -3px 0 inset, darken($color, 25) 0px 1px 1px);
	}
}

// -------------------------- //
//			Rules
// -------------------------- //
@include set-btn();
@include set-btn(error, $m_btn_color_background, $m_btn_color_error);
@include set-btn(warning, $m_btn_color_background, $m_btn_color_warning);
@include set-btn(dark, $m_btn_color_background, $m_btn_color_dark);
