/* -------------------------- *\
 *			Alert
\* -------------------------- */

// Need AwesomeFont to be awesome :D.
// http://fontawesome.io/

// -------------------------- //
//			Variables
// -------------------------- //

$theme: $theme!default;

$m_alert_gutter: $gutter!default;
$m_alert_line_height: $line_height!default;

$m_alert_font: $font_family!default;
$m_alert_font_awesome: 'true'!default;

$m_alert_color: $color_primary!default;
$m_alert_success_color: #399adc!default;
$m_alert_error_color: #e14e3f!default;
$m_alert_warning_color: #ebbf0f!default;
$m_alert_question_color: #33cd74!default;

// -------------------------- //
//			Extends
// -------------------------- //
%alert-properties {
	padding: $m_alert_line_height ($m_alert_gutter / 2);
	padding-bottom: 0;
	margin-bottom: $m_alert_line_height;

	text-align: left;
	font-size: 0.95em;
	font-family: inherit;

	@include border-radius(2px);
}
%alert-fa-properties {
	margin-right: $m_alert_gutter / 2;
	position: relative;
	top: 3px;

	font-size: 2em;
	font-family: 'FontAwesome';
}
%alert-fa-default { content: "\f129"; }
%alert-fa-success { content: "\f00c"; }
%alert-fa-error { content: "\f00d"; }
%alert-fa-warning { content: "\f12a"; }
%alert-fa-question { content: "\f128"; }

// -------------------------- //
//			Mixins
// -------------------------- //
@mixin set-alert($type: 'default', $color: $m_alert_color) {
	.alert-#{$type} {

		@extend %alert-properties;

		color: lighten($color, 40);
		background-color: $color;
		border: 1px solid darken($color, 5);

		@include box-shadow(darken($color, 10) 1px 1px);

		strong {
			font-family: inherit;
			font-weight: bold;

			color: lighten($color, 50);;

		}

		@if $m_alert_font_awesome == 'true' {
			& > :first-child {
				&:before {
					@extend %alert-fa-properties;
					@extend %alert-fa-#{$type};
				}
			}
		}
	}
}

// -------------------------- //
//			Rules
// -------------------------- //

@include set-alert();
@include set-alert('success', $m_alert_success_color);
@include set-alert('error', $m_alert_error_color);
@include set-alert('warning', $m_alert_warning_color);
@include set-alert('question', $m_alert_question_color);
