/* -------------------------- *\
 *			Code
\* -------------------------- */

// -------------------------- //
//			variables
// -------------------------- //
$color_code: darken($color_text, 10);
$color_code_background: lighten($color_background, 4);
@if $theme == 'dark' {
	$color_code: lighten($color_text, 10);
	$color_code_background: darken($color_background, 4);
}

// -------------------------- //
//			Extends
// -------------------------- //
%code-font {
	font-family: $font_code;
	font-size: 1em;
}

// -------------------------- //
//			Rules
// -------------------------- //
code {
	margin: 0 0px;
	padding: 0 3px;

	color: $color_code;
	background-color: $color_code_background;

	@include box-shadow(darken($color_code_background, 5) 0px -1px 1px inset);
	@extend %code-font;
}
pre {
	position: relative;
	overflow: auto;
	border-left: ($gutter/2) solid $color_primary;
	z-index: 50;

	background-color: darken($color_code, 20);

	& > span {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0 ($gutter / 2);
		z-index: 99;
		cursor: default;

		font-family: $font_header;
		font-size: 0.9em;

		opacity: 0.5;
	}

	& > code {
		padding: $line_height ($gutter/2);
		display: block;
		overflow: auto;
		z-index: 1;

		color: $color_code;
		background-color: $color_code_background;

		@extend %code-font;
	}
	strong {
		color: $color_primary;
	}
}

// -------------------------- //
//			Responsive
// -------------------------- //
@media only screen and (min-width: $l_medium) {
	pre {
		& > span {
			opacity: 1;
			color: darken($color_text, 35);
			background-color: $color_primary;

			@include box-shadow(darken($color_primary, 10) -1px 1px 1px inset);
			@include transition-duration(0.7s);
		}
	}

}
