// -------------------------- //
//			Forms
// -------------------------- //

// -------------------------- //
//			Extends
// -------------------------- //
%general-properties {
	padding: ($line_height / 2) ($gutter / 2);
	max-width: 100%;

	font-family: $font_header;
	font-size: 0.9em;

	color: darken($color_header, 10);
	background-color: darken($color_text, 5);
	border: 1px solid darken($color_background, 20);

	@include box-shadow(darken($color_text, 15) -1px -1px 1px inset);
	@include border-radius(2px);
}
%general-hover-properties {
	background-color: darken($color_text, 15);
	border: 1px solid darken($color_background, 30);

	@include box-shadow(rgba($color_primary, 0.4) 0px 0px 1px 1px);
}

form {

	padding: $line_height ($gutter / 2);

	input, select, textarea {

		@extend %general-properties;

		&:hover { @extend %general-hover-properties; }
		&:active, &:focus { @include box-shadow(rgba($color_primary, 1) 0px 0px 1px 1px); }
	}

	input {
		&:hover { @include transition-duration(0.5s); }
	}

	select {

		padding: 0;

		option {
			line-height: $line_height;
			padding: ($line_height / 2) ($gutter / 2);
			margin-bottom: 0;
		}

		option:last-of-type {
			@include border-bottom-radius(5px);
		}

		&:hover { @include transition-duration(0.5s); }
	}
	textarea {
		width: 100%;
		max-width: 100%;
	}
}
