// -------------------------- //
//			Forms
// -------------------------- //

form {

	padding: $line_height ($gutter / 2);
	padding-bottom: 0;

	input {
		padding: ($line_height / 2) ($gutter / 2);

		font-family: $font_header;
		font-size: 0.9em;

		color: darken($color_header, 10);
		background-color: darken($color_text, 5);
		border: 1px solid darken($color_background, 20);

		@include box-shadow(darken($color_text, 15) -1px -1px 1px inset);
		@include border-radius(2px);

		&:hover {
			background-color: darken($color_text, 15);
			border: 1px solid darken($color_background, 30);

			@include box-shadow(rgba($color_primary, 0.4) 0px 0px 1px 1px);

			@include transition-duration(0.5s);
		}

		&:active, &:focus { @include box-shadow(rgba($color_primary, 1) 0px 0px 1px 1px); }
	}
}
