// -------------------------- //
//			Mixins
// -------------------------- //
@mixin set-element-by-theme($element, $value_light, $value_dark) {
	@if $theme == 'light' {
		#{$element}: $value_light;
	} @else {
		#{$element}: $value_dark;
	}
}

// -------------------------- //
//			General
// -------------------------- //

body {
	* {
		@include box-sizing(border-box);
		margin-bottom: $line_height; // À ENLEVER SI NÉCÉSSAIRE
	}

	max-width: 100%;
	margin: ($gutter / 2) auto;
	padding: 0 ($gutter / 2); // À ENLEVER
	line-height: $line_height;

	font-family: $font_family;
	font-size: $font_size;

	color: $color_text;
	background-color: $color_background;
}

// -------------------------- //
//		Block elements
// -------------------------- //

p {
	margin-bottom: $line_height;
	// & + p { margin-top: -$line_height; }
}
div { margin-bottom: 0; }
img { max-width: 100%; }

// -------------------------- //
//		Inline elements
// -------------------------- //

strong, em {
	font-weight: normal;
	@include set-element-by-theme('color', darken($color_text, 30), lighten($color_text, 30));
}
em {
	font-style: normal;
}
a {
	text-decoration: none;
	@include set-element-by-theme('color', darken($color_primary, 30), lighten($color_primary, 30));

	&:hover {
		color: $color_primary;
		@include transition-duration(0.5s);
	}
}
mark {
	color: inherit;
	@include set-element-by-theme('background-color', lighten($color_background, 20), lighten($color_background, 20));
}
small {
	color: lighten($color_header, 10);
	@include set-element-by-theme('color', lighten($color_text, 10), darken($color_text, 10));
	font-size: 0.8em;
}
