// -------------------------- //
//			List
// -------------------------- //

// Extends.
%list-style-second-level {
	ul { list-style-type: circle; }
	ol { list-style-type: lower-latin; }
}

// Rules.
ul, ol {
	ul, ol { margin: 0 0 0 $gutter; }
}
ul {
	list-style-type: square;
	@extend %list-style-second-level;
}
ol {
	list-style-type: decimal;
	@extend %list-style-second-level;
}
p + ul, p + ol, p + dl { margin-top: -$line_height; }	// Contre-balancer le margin-bottom des <p>.
li, dt, dd { margin-bottom: 0; }
